<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>emailvalidator</title>
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
        crossorigin="anonymous"
        />
        
        <style>
        body{
            padding: 10vh;
            margin: 10vh;
            background: #020024;
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 27%, rgba(0, 212, 255, 1) 100%);
            
        }
        .container{
            display: flex;
            flex-direction: column;
            border: solid black 2px;
            border-radius: 10px;
            width: 50vw;
            height: 30vh;
            background-color: rgb(221, 252, 255);
            margin: auto;
            margin-top: 10vh;
            overflow: auto;
        }
        </style>
        <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <%- include('nav') %>
        <div class="container">
            <form action="/" method = "post">
                <div class="mb-3">
                    <label for="uname" class="form-label">Email address: </label>
                    <input name = "uname" type="text" class="form-control" id="name"/>
                </div>
                <p>Email Verfication:</p>
                <p id="Verficationstatus"></p>
                <button  type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <script src="/email-verify.js"></script>

    </body>
    </html>
