<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document title</title>
    <script src='https://www.google.com/recaptcha/api.js'></script> 
     <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
        crossorigin="anonymous"
        />

        <style>
        body{
            padding: 10vh;
            margin: 10vh;
            background: #020024;
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 27%, rgba(0, 212, 255, 1) 100%);
            
        }
        .container{
            display: flex;
            flex-direction: column;
            border: solid black 2px;
            border-radius: 10px;
            width: 60vw;
            height: 70vh;
            background-color: rgb(221, 252, 255);
            margin: auto;
            margin-top: 10vh;
            overflow: auto;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px;
            margin: 10px;
        }
        .submitbutton {
            width: 10vw;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
        }
        .g-recaptcha {
            /* width: 10vw; */
            /* border-radius: 10px; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
        }
        #status{
            color: greenyellow;
            font-family: cursive;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-self: center;
        }
        #inputbox1,#inputbox2{
            border-radius: 10px;
        }
        #captcha{
            display: flex;
            justify-content: center;
            align-content: center;
            color: green;
        }
        </style>
        <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"
        ></script>

</head>
<body>
    <%- include('nav') %>
    <div class="container">
        <form action="/"  method="post" >
            <label for="uname" class="form-label"></label>
            <input name = "uname" class="firstinput" type="text" class="form-control" id="inputbox1" placeholder="Enter the email to validate"/>
            <div class="g-recaptcha" data-sitekey="6Lf3QMErAAAAAAS8vSPWfzVlnkDBg3ztp0gJsXbn"></div>
            <button  type="submit" class="btn btn-primary">Submit</button>
            <p id="captcha"></p>
            <p id="Verficationstatus"></p>

            <p id="status"></p>
    </div>
</form>
    <script src="/feature.js"></script>
</body>
</html>



